body {
 
  background: white;
   margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Lequire';
  src: url('./assets/fonts/Lequire.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
